<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title animated fadeIn">
        Credits
      </h1>
      <h2 class="subtitle animated fadeIn delay-1s">
        Here's the faces that made all this possible.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-multiline animated fadeIn delay-1s">

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/Pranav.png" alt="Egypt Amaru">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Pranav Eranki</p>
              <p class="subtitle is-6">@PranavEranki</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</section>
